name: Linux EIC Shell Workflow
on:
  pull_request:
    branches:
      - main


env:
  platform-release: ${{ inputs.platform-release || 'eic_xl:nightly' }}
  detector-version: ${{ inputs.detector-version || 'main' }}
  clang-tidy-iwyu-CC: clang
  clang-tidy-iwyu-CMAKE_BUILD_TYPE: Debug
  ASAN_OPTIONS: suppressions=${{ github.workspace }}/.github/asan.supp:malloc_context_size=20:detect_leaks=1:verify_asan_link_order=0:detect_stack_use_after_return=1:detect_odr_violation=1:new_delete_type_mismatch=0:intercept_tls_get_addr=0
  LSAN_OPTIONS: suppressions=${{ github.workspace }}/.github/lsan.supp
  UBSAN_OPTIONS: suppressions=${{ github.workspace }}/.github/ubsan.supp:print_stacktrace=1

jobs:
  build:
      runs-on: ubuntu-latest

      steps:
        - name: Create directories
          run: mkdir -p /var/cache/apt/archives/
      

        - uses: cvmfs-contrib/github-action-cvmfs@v4
        - name: Checkout code
          uses: actions/checkout@v2

        - name: Build and install
          uses: eic/run-cvmfs-osg-eic-shell@main
          with:
            platform-release: "${{ env.platform-release }}"
            run: |
              cmake -B build -S ./cpp/ -DCMAKE_INSTALL_PREFIX=install
              cmake --build build -j $(getconf _NPROCESSORS_ONLN) --target install
  